Description=Cloudflare DDNS updater

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/cloudflare-ddns

[Install]
WantedBy=network-online.target
